#header-img{
    text-align: left;
    width: 300px;
    height: auto;
}
#header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(141, 55, 55);
}
#nav-bar{
    display: flex;
    
}
.nav-link{
    width: 25vw;
    display: block;
    text-align: right;
}

body{
  background-color: white;
}

@media only screen and (max-width: 600px){
  body{
    background-color: lightblue;
  }
}
